<header class="header">
  <div class="header__container">
    <div class="logo">
      <a class="logo__link" href="/" aria-label="Return to home page">
        <img src="/assets/svgs/ricehat4.svg" alt="Logo" width="33" height="33" decoding="async">
        <span class="logo__name">TOMMY DOAK</span>
      </a>
      <span class="job-title">DEVELOPER & DESIGNER</span>
    </div>
    <nav class="header__nav">
      <ul class="header__nav-list">
        {% set navPages = collections.all | eleventyNavigation %}
        {% for entry in navPages %}
          <li class="header__nav-list-item">
            <div class="header__nav-list-item-wrapper"></div>
            <a href="{{ entry.url }}" class="header__nav-list-item-link {% if entry.url == page.url %} cs-active {% endif %}"> {{ entry.key }} </a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>