<header class="header">
  <div class="header__container">
    <div class="logo">
      <a class="logo__link" href="/" aria-label="Return to home page">
        <img src="/assets/svgs/ricehat4.svg" alt="Logo" width="33" height="33" decoding="async">
        <span class="logo__name">TOMMY DOAK</span>
      </a>
      <span class="job-title">DEVELOPER & DESIGNER</span>
    </div>
    <nav class="header__nav">
      <ul>
        <li><div class="item-wrapper"></div><span>Resume</span></li>
        <li><div class="item-wrapper"></div><span>Projects</span></li>
        <li><div class="item-wrapper"></div><span>About</span></li>
        <li><div class="item-wrapper"></div><span>Contact</span></li>
      </ul>
    </nav>
  </div>
</header>