---
title: 'Projects'
description: "Tommy Doak's Portfolio Projects"
permalink: 'projects/'
eleventyNavigation:
    key: Projects
    order: 102
---

{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/css/projects.css">

{% endblock %}

{% block body %}

<div class="ai-projects">
  <h2>Academic Influence Content Projects</h2>
  <ul>
    <li>College Compare Mobile Application</li>
    <li>Career Content</li>
    <li>Schools Near Me</li>
    <li>Scholarship Heat Map</li>
    <li>College Sports Rankings</li>
    <li>Find Your Best School</li>
    <li>Degree Finder</li>
    <li>School Finder</li>
    <li>Photo Mosaic</li>
  </ul>
</div>

<div class="ai-projects">
  <h2>The Odin Project Projects</h2>
  <ul>
    <li>Battleship</li>
    <li>Weather App</li>
    <li>To Do List</li>
    <li>Library</li>
  </ul>
  <a href="https://theantidoak.github.io/Admin-Dashboard/">See More</a>
</div>

<div class="odin-projects"></div>

{% endblock %}