---
title: "Tommy Doak Portfolio Home"
description: "Web Developments Projects of Tommy Doak"
permalink: "/"
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/home.css">
    
    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

<section class="home">
  <p>Thirsty for adventure after university, I spent 7 years traveling and living abroad in various countries. Having completed what I set out to do, my adventure now lies in finding creative solutions for website development.</p>
</section>
{% endblock %}